/*.header{
    
    
    text-align: center;
    
    border:5px solid;
    
}*/
body{
    height: 100vh;
    background-size: cover;
    background-position: center ;
    background-attachment: fixed;
}
.pages{
    background-color: aqua;
}

a{
    text-align: center;
}
h3{text-align: center;
}